# Example Extraction

This is the full example for the data shown earlier. Shown again here for convenience.

![](./images/example1_spreadsheet.png)

In [1]:

from databaker.framework import *
from tutorialResources.scraper import Scraper

scraper = Scraper("https://www.fake-website.com/example1")
scraper

**Example dataset 1**

this is an example dataset for the walkthroughs.

**distribution**

exampledata - WITH A REAL SCAPER, YOU'D GET A CLICKABLE LNK TO SOURCE HERE -

In [2]:
tabs = scraper.distribution.as_databaker()

# define a list. this is mandatory - for later
tidied_sheets = []

# for each of the selected tabs....do everything thats indented (in this case we only have 1 tab, 
# but that isn't common so we'll stick with the typical approach)
for tab in tabs:       

    # define a selection of cells as the observations
    observations = tab.excel_ref('C5').expand(DOWN).expand(RIGHT).is_not_blank()
    
    # define other selections of cells to be our dimensions
    assets = tab.excel_ref('C3').expand(RIGHT).is_not_blank()
    names = tab.excel_ref('B5').expand(DOWN).is_not_blank()
    group = tab.excel_ref('A5').expand(DOWN).is_not_blank()

    # define the relationships of the cells selected as dimensions (relative to the observations)
    dimensions = [
              HDim(assets, "Assets", DIRECTLY, ABOVE), 
              HDim(names, "Name", DIRECTLY, LEFT), 
              HDim(group, "Group", CLOSEST, ABOVE) 
                 ]
    
    # Now we process these relationship for this tab (this code rarely changes)
    tidy_sheet = ConversionSegment(tab, dimensions, observations) # < --- processing
    savepreviewhtml(tidy_sheet)
    
    tidied_sheets.append(tidy_sheet.topandas()) # <-- adding result of processing this tab to our list

Now let's have a look at the output

In [3]:

# NOTE - this is not the next step in production (see later examples) but lets's see what we've got
import pandas as pd
dataframe = pd.concat(tidied_sheets)
dataframe[:20]

     OBS      Assets    Name          Group
0    1.0      Houses    John        Beatles
1    6.0        Cars    John        Beatles
2    1.0  Businesses    John        Beatles
3    2.0      Houses    Paul        Beatles
4    4.0        Cars    Paul        Beatles
5    6.0  Businesses    Paul        Beatles
6    3.0      Houses  George        Beatles
7    3.0        Cars  George        Beatles
8    2.0  Businesses  George        Beatles
9    8.0      Houses   Ringo        Beatles
10   2.0        Cars   Ringo        Beatles
11   5.0  Businesses   Ringo        Beatles
12   6.0      Houses    Mick  Rollin Stones
13   5.0        Cars    Mick  Rollin Stones
14  13.0  Businesses    Mick  Rollin Stones
15   5.0      Houses   Keith  Rollin Stones
16   5.0        Cars   Keith  Rollin Stones
17   6.0  Businesses   Keith  Rollin Stones
18   2.0      Houses  Ronnie  Rollin Stones
19   5.0        Cars  Ronnie  Rollin Stones