# WITHIN Exercise

This exercise uses a different test dataset (databakerWithinExapmle.xls) to demonstrate how the WITHIN keyword can be used for when the cells we want are both LEFT and RIGHT, relative to different observations cells.

All code cells in this notebook can be run directly, by selecting the cell then the play icon on the above ribbon.

### WITHIN ABOVE Example

![](./images/WITHIN_Example1.png)

Given this table, the relationship between the age1 dimension is both LEFT and RIGHT, realtive to a given observation.

We can use the WITHIN keyword when defining the relationship to specift that the dimension is within a given range above the observations.

In [1]:
# NOTE - you can run me!

# Acquisition

from databaker.framework import *
from tutorialResources.scraper import Scraper

scraper = Scraper("https://www.fake-website.com/within-example1")
scraper

**Example dataset 2**

this is an example dataset for the WITHIN walkthrough.

In [4]:
# NOTE - you can run me!

# Defining data containing tab

tabs = scraper.distribution.as_databaker()

tab = tabs[0]

In [10]:
# NOTE - you can run me!

# Capturing the observations in the usual manner
age1 = tab.excel_ref("B4:D11")

# Defining the relationship using WITHIN ABOVE

# The range specified is 1 to the left and 1 to the right.
# This order indicates that for any given observation, WITHIN will lookup
# the dimension header travelling left to right.

# ABOVE is used in the same way as previous transforms. We travel row-by-row
# but in an upwards direction.

dimensions = [
    HDim(age1, "Age1", WITHIN(left=1, right=1), ABOVE)
]

savepreviewhtml(dimensions)

NameError: name 'WITHIN' is not defined

### WITHIN LEFT Example

![](./images/WITHIN_Example2.png)

In exactly the same way as WITHIN ABOVE, here the dimension is in the centre of the observations but to the left.

We can define this relationship by specifying the range given to WITHIN as "above=x" and "below=y"

In [6]:
# NOTE - you can run me!

# Capturing the observations in the usual manner
age2 = tab.excel_ref("B16:D23")

# Defining the relationship using WITHIN BELOW

# The range specified is 4 beneath and 3 above.
# This order indicates that for any given observation, WITHIN will lookup
# the dimension header travelling top to bottom.

# LEFT is used in the same way as previous transforms. We travel
# column-by-column but in an leftwards direction.
dimensions = [
    HDim(age1, "Age2", WITHIN(above=4, below=3), LEFT)
]

savepreviewhtml(dimensions)

NameError: name 'WITHIN' is not defined

### EXERCISES:

The two remaining tables have dimensions either below or to the right of the observations.

Use the WITHIN keyword to capture these relationships.

**Useful Hint:** The order in which the range is supplied to WITHIN will determine how the dimension is looked up. E.g. "WITHIN(left=1, right=1), ABOVE"    indicates that the lookup is travelling left to right from a given observation and travelling row-by-row in an upwards direction.

In [7]:
# AGE 3

age3 =

SyntaxError: invalid syntax (<ipython-input-7-fbd1b9681394>, line 3)

In [8]:
# AGE 4

age4 =

SyntaxError: invalid syntax (<ipython-input-8-2dfd13ea2e24>, line 3)