# WITHIN Exercise

This exercise uses a different test dataset (databakerWithinExapmle.xls) to demonstrate how the WITHIN keyword can be used for when the cells we want are both LEFT and RIGHT, relative to different observations cells.

All code cells in this notebook can be run directly, by selecting the cell then the play icon on the above ribbon.

### WITHIN ABOVE Example

![](./images/WITHIN_Example1.png)

Given this table, the relationship between the age1 dimension is both LEFT and RIGHT, realative to a given observation.

We can use the WITHIN keyword when defining the relationship to specific that the dimension is within a given range above the observations.

In [1]:
# NOTE - you can run me!

# Acquisition

from databaker.framework import *
from tutorialResources.scraper import Scraper

scraper = Scraper("https://www.fake-website.com/within-example1")
scraper

**Example dataset 2**

this is an example dataset for the WITHIN walkthrough.

In [2]:
# NOTE - you can run me!

# Defining data containing tab

tabs = scraper.distribution.as_databaker()

tab = tabs[0]
tab

{<F8 37.0>, <C7 11.0>, <H10 45.0>, <H3 ''>, <B1 ''>, <H14 ''>, <C8 14.0>, <G5 29.0>, <C13 ''>, <G3 ''>, <H18 81.0>, <B21 64.0>, <D23 72.0>, <G9 41.0>, <C4 2.0>, <G17 77.0>, <A1 ''>, <B11 22.0>, <A12 ''>, <E2 ''>, <B20 61.0>, <D22 69.0>, <G21 89.0>, <G6 32.0>, <I10 ''>, <F15 ''>, <A14 ''>, <E4 ''>, <E15 ''>, <F7 34.0>, <B16 49.0>, <A19 'Age2'>, <D19 60.0>, <E19 ''>, <I12 ''>, <I23 ''>, <G18 80.0>, <B7 10.0>, <H23 96.0>, <E21 ''>, <H8 39.0>, <D16 51.0>, <B5 4.0>, <I16 ''>, <F18 79.0>, <D15 ''>, <F16 73.0>, <A4 ''>, <G14 ''>, <C6 8.0>, <F20 85.0>, <A8 ''>, <I2 ''>, <B3 ''>, <B14 ''>, <H16 75.0>, <A6 ''>, <C18 56.0>, <F4 25.0>, <A10 ''>, <A21 ''>, <E11 ''>, <E22 ''>, <D9 18.0>, <H22 93.0>, <I19 ''>, <I6 ''>, <B17 52.0>, <G20 86.0>, <A23 ''>, <E13 ''>, <D21 66.0>, <F17 76.0>, <G8 38.0>, <H2 ''>, <H13 ''>, <E17 ''>, <I8 ''>, <C1 ''>, <G10 44.0>, <F6 31.0>, <H17 78.0>, <C5 5.0>, <B18 55.0>, <H15 ''>, <F1 ''>, <G16 74.0>, <A11 ''>, <D10 21.0>, <E1 ''>, <C23 71.0>, <E5 ''>, <I9 ''>, <F3 ''>, <F14 ''>, <C9 17.0>, <A2 ''>, <A13 ''>, <D6 9.0>, <E3 ''>, <H19 84.0>, <H4 27.0>, <D7 12.0>, <D12 ''>, <A17 ''>, <C3 'Age1'>, <E7 ''>, <B12 ''>, <E18 ''>, <F22 91.0>, <I22 ''>, <D11 24.0>, <B19 58.0>, <D3 ''>, <D1 ''>, <D14 ''>, <E9 ''>, <C10 20.0>, <E20 ''>, <G23 95.0>, <D17 54.0>, <I4 ''>, <I15 ''>, <H20 87.0>, <H5 30.0>, <H6 33.0>, <C12 ''>, <C16 50.0>, <C22 68.0>, <G2 ''>, <G13 ''>, <G19 83.0>, <G4 26.0>, <F9 40.0>, <A7 ''>, <H11 48.0>, <B2 ''>, <B8 13.0>, <B13 ''>, <I21 ''>, <C14 ''>, <F21 88.0>, <G15 ''>, <H9 42.0>, <I5 ''>, <D4 3.0>, <A9 ''>, <A20 ''>, <D5 6.0>, <C11 23.0>, <E14 ''>, <I7 ''>, <F12 ''>, <I18 ''>, <H21 90.0>, <H7 36.0>, <D20 63.0>, <C2 ''>, <A15 ''>, <H1 ''>, <E16 ''>, <B22 67.0>, <B23 70.0>, <C19 59.0>, <I11 ''>, <B9 16.0>, <C20 62.0>, <C15 ''>, <G11 47.0>, <F11 46.0>, <I13 ''>, <B4 1.0>, <A3 ''>, <B6 7.0>, <F2 ''>, <G12 'Age3'>, <F13 ''>, <D8 15.0>, <I17 ''>, <G7 35.0>, <B10 19.0>, <I20 'Age4'>, <F23 94.0>, <A5 ''>, <A16 ''>, <E6 ''>, <E10 ''>, <I3 ''>, <I1 ''>, <I14 ''>, <B15 ''>, <C21 65.0>, <D2 ''>, <D13 ''>, <A18 ''>, <D18 57.0>, <E8 ''>, <F19 82.0>, <F5 28.0>, <A22 ''>, <G22 92.0>, <E12 ''>, <E23 ''>, <C17 53.0>, <H12 ''>, <F10 43.0>, <G1 ''>}

In [3]:
# NOTE - you can run me!

from databaker.lookupengines.within import WITHIN
# Capturing the observations in the usual manner
age1 = tab.excel_ref("3").is_not_blank()

# Defining the relationship using WITHIN ABOVE

# The range specified is 1 to the left and 1 to the right.
# This order indicates that for any given observation, WITHIN will lookup
# the dimension header travelling left to right.

# ABOVE is used in the same way as previous transforms. We travel row-by-row
# but in an upwards direction

obs = tab.excel_ref('B4:D12').is_not_blank()
dimensions = [
    HDim(age1, "Age1", WITHIN(left=1, right=1), ABOVE)
]

cs = ConversionSegment(tab, dimensions, obs)
savepreviewhtml(cs)
cs.topandas()[:5]

   OBS  Age1
0  1.0  Age1
1  2.0  Age1
2  3.0  Age1
3  4.0  Age1
4  5.0  Age1

### WITHIN LEFT Example

![](./images/WITHIN_Example2.png)

In exactly the same way as WITHIN ABOVE, here the dimension is in the centre of the observations but to the left.

We can define this relationship by specifying the range given to WITHIN as "above=x" and "below=y"

In [10]:
# NOTE - you can run me!

# Capturing the observations in the usual manner
age2 = tab.excel_ref("A").is_not_blank()

# Defining the relationship using WITHIN BELOW

# The range specified is 4 beneath and 3 above.
# This order indicates that for any given observation, WITHIN will lookup
# the dimension header travelling bottom to top.

# LEFT is used in the same way as previous transforms. We travel
# column-by-column but in an leftwards direction.
obs = tab.excel_ref('B16:D40').is_not_blank()
dimensions = [
    HDim(age2, "Age2", WITHIN(below=4, above=4), LEFT)
]

cs = ConversionSegment(tab, dimensions, obs)
savepreviewhtml(cs)
cs.topandas()[:5]

    OBS  Age2
0  49.0  Age2
1  50.0  Age2
2  51.0  Age2
3  52.0  Age2
4  53.0  Age2

### EXERCISES:

The two remaining tables have dimensions either below or to the right of the observations.

Use the WITHIN keyword to capture these relationships.

**Useful Hint:** The order in which the range is supplied to WITHIN will determine how the dimension is looked up. E.g. "WITHIN(left=1, right=1), ABOVE"    indicates that the lookup is travelling left to right from a given observation and travelling row-by-row in an upwards direction.

In [11]:
# AGE 3

age3 =

In [ ]:
# AGE 4

age4 =